header {
  display: flex;
  height: 200px;
  background-color: white;
  align-items: center;
  padding-right: 50px;
  border-bottom:black solid;
}

footer {
  background-color: black;
  height: 250px;
}

h1 {
  margin: 0;
  letter-spacing: 2rem;
  color:white;
  font-size: 75px;
}

.left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 25%;
}

.right-block {
  align-items: center;
  display: flex;
  justify-content: end;
  height: 100%;
  width: 75%;
  float: right;
}

.header-p {
  color:black;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1rem;
  margin: 0 25px 0 25px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.portfolio-container {
  margin: 25px;
  width: 25%;
  height: 500px;
  border: solid black;
}