header {
  display: flex;
  height: 200px;
  background-color: white;
  align-items: center;
  padding-right: 50px;
  border-bottom:black solid;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 250px;
  width: 100%;
}

h1 {
  margin: 0;
  letter-spacing: 2rem;
  color:white;
  font-size: 75px;
}

a {
  text-decoration: none;
}

.left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 25%;
}

.right-block {
  align-items: center;
  display: flex;
  justify-content: end;
  height: 100%;
  width: 75%;
}

.text-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.text-black {
  color:black;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1rem;
  margin: 0 0 0 125px;
}

.text-black:hover {
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.portfolio-container {
  margin: 25px;
  width: 25%;
  height: 500px;
  border: solid black;
}

.text-white {
  color: white;
  margin: 0;
  letter-spacing: 0.5rem;
}