header {
  display: flex;
  height: 200px;
  background-color: white;
  align-items: center;
  padding-right: 50px;
  border-bottom:black solid;
}

footer {

  background-color: black;
  height: 250px;
  width: 100%;
}

h1 {
  margin: 0;
  letter-spacing: 2rem;
  color:white;
  font-size: 75px;
}

a {
  text-decoration: none;
  color: black;
}

.left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 25%;
}

.right-block {
  align-items: center;
  display: flex;
  
  height: 100%;
  width: 75%;
}

.text-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.text-header {
  color:black;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1rem;
  margin: 0 0 0 140px;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.portfolio-container {
  text-align: center;
  margin: 25px;
  padding: 25px;
  width: 25%;
  height: 500px;
  border: solid black;
}

.portfolio-container:hover {
  font-weight: 600;
}

.photo-container {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.portfolio-photo {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.portfolio-photo-bumbo {
  margin-top: 80px;
  height: 35%;
  width: 100%;
}

.text-black {
  letter-spacing: 0.2rem;
}

.text-white {
  color: white;
  margin: 0;
  letter-spacing: 0.5rem;
}

.normal-text-white {
  color: white;
  font-size: 15px;
}

.portfolio-description {
  font-size: 15px;
  padding-top: 25px;
  font-style: italic;
}

.footer-container {
  display: flex;
}

.footer-contact {
  padding: 25px;
  width: 50%;
}

.contact-form {
  display: block;
  margin: 25px 0px 25px 0px;
}

.email-field {
  height: 30px;
  width: 300px;
}

.email-field::placeholder {
  font-family: 'Poppins';
}

.submit-btn {
  
  font-family: 'Poppins';
  margin: 0px 0px 0px 15px;
  height: 35px;
  width: 80px;
}

.footer-socials {
  display: flex;
  align-self: flex-end;
  justify-content: end;
  width: 50%;
}

.social-icon {
  margin: 0px 35px 0px 0px;
  height: 25px;
  width: 25px;
}

